@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed'; /* импорт шрифта для заголовков */

.navbar-brand,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto Condensed', sans-serif;     /* Гуглфонт вывод */
}

.color {
	color: #7952b3;
	fide-size: 50px;
}

.pricing_item {
background: #343a40;
position: relative;
display: -webkit-flex;
display: flex;
-webkit-flex-direction: column;
flex-direction: column;
-webkit-align-items: stretch;
align-items: stretch;
text-align: center;
-webkit-flex: 0 1 330px;
flex: 0 1 330px;
padding: 2em 3em;
/*margin: 1em;*/
color: #262b38;
cursor: default;
overflow: hidden;
box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
}

.pricing_item_prog {
background: #f5f5f5 url(../img/programing_before.jpg) top center no-repeat;
background-size: 100%;

position: relative;
display: -webkit-flex;
display: flex;
-webkit-flex-direction: column;
flex-direction: column;
-webkit-align-items: stretch;
align-items: stretch;
text-align: center;
-webkit-flex: 0 1 330px;
flex: 0 1 330px;
padding: 2em 3em;
/*margin: 1em;*/
color: #892CDC;
cursor: default;
overflow: hidden;
box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
}

.pricing_item_hobby {
	background: #f5f5f5 url(../img/hobby_before.jpg) top center no-repeat;
	background-size: 100%;
	
	position: relative;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: stretch;
	align-items: stretch;
	text-align: center;
	-webkit-flex: 0 1 330px;
	flex: 0 1 330px;
	padding: 2em 3em;
	/*margin: 1em;*/
	color: #892CDC;
	cursor: default;
	overflow: hidden;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
}

.pricing_item_hobby:hover {
	background: #f5f5f5 url(../img/hobby_1.gif) top center no-repeat;
	background-size: 100%;

}

.pricing_item_prog:hover {

/* background: #ba135d; */
background: #f5f5f5 url(../img/programing.gif) top center no-repeat;
background-size: 100%;

}

.pricing_item_portfolio {
background: #f5f5f5 url(../img/portfolio_before.jpg) top center no-repeat;
background-size: 100%;	


position: relative;
display: -webkit-flex;
display: flex;
-webkit-flex-direction: column;
flex-direction: column;
-webkit-align-items: stretch;
align-items: stretch;
text-align: center;
-webkit-flex: 0 1 330px;
flex: 0 1 330px;
padding: 2em 3em;
/*margin: 1em;*/
color: #892CDC;
cursor: default;
overflow: hidden;
box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
}

.pricing_item_portfolio:hover {
	background: #f5f5f5 url(../img/portfolio.gif) top center no-repeat;
	background-size: 100%;	
}

.pricing_item_projects {
background: #f5f5f5 url(../img/projects_before.jpg) top center no-repeat;
background-size: 100%;
position: relative;
display: -webkit-flex;
display: flex;
-webkit-flex-direction: column;
flex-direction: column;
-webkit-align-items: stretch;
align-items: stretch;
text-align: center;
-webkit-flex: 0 1 330px;
flex: 0 1 330px;
padding: 2em 3em;
/*margin: 1em;*/
color: #892CDC;
cursor: default;
overflow: hidden;
box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
}

.pricing_item_projects:hover {
	background: #f5f5f5 url(../img/projects.gif) top center no-repeat;
	background-size: 100%;
}

.pricing_item_self_develop {
background: #f5f5f5 url(../img/self_develop_before.jpg) top center no-repeat;
background-size: 100%;
position: relative;
display: -webkit-flex;
display: flex;
-webkit-flex-direction: column;
flex-direction: column;
-webkit-align-items: stretch;
align-items: stretch;
text-align: center;
-webkit-flex: 0 1 330px;
flex: 0 1 330px;
padding: 2em 3em;
/*margin: 1em;*/
color: #892CDC;
cursor: default;
overflow: hidden;
box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
}

.pricing_item_self_develop:hover {
	background: #f5f5f5 url(../img/self_develop.gif) top center no-repeat;
	background-size: 100%;
}

.pricing_item_contacts {
background: #f5f5f5 url(../img/contacts_before.jpg) top center no-repeat;
background-size: 100%;

position: relative;
display: -webkit-flex;
display: flex;
-webkit-flex-direction: column;
flex-direction: column;
-webkit-align-items: stretch;
align-items: stretch;
text-align: center;
-webkit-flex: 0 1 330px;
flex: 0 1 330px;
padding: 2em 3em;
/*margin: 1em;*/
color: #892CDC;
cursor: default;
overflow: hidden;
box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
}

.pricing_item_contacts:hover {
	background: #f5f5f5 url(../img/contacts.gif) top center no-repeat;
	background-size: 100%;

}

/* смена фона при нажатии */
.pricing_item:hover {
color: #f8eded;
/* background: #ba135d; */

}
/* индивидуальная подложка ценника в каждом тарифе */
.pricing_item:first-child .price {
background: #f8eded;
}

/* на широких экранах отступы и выделение средней колонки тарифа */
@media screen and (min-width: 66.250em) {
.pricing_item {
margin: 0em 0;
}
.featured {
z-index: 10;
margin: 0;
font-size: 1.15em;
}
}
/* заголовок */
.pricing_item h3 {
font-size: 2em;
margin: 0.5em 0 0;
color: #1d211f;
}
/* подложка ценника */
.price {
font-size: 2em;
font-weight: bold;
color: #fff;
position: relative;
z-index: 100;
line-height: 95px;
width: 100px;
height: 100px;
margin: 1.15em auto 1em;
border-radius: 50%;
background: #77a5cc;
-webkit-transition: color 0.3s, background 0.3s;
transition: color 0.3s, background 0.3s;
}

/* уточнение предложения */
.sentence {
font-weight: bold;
margin: 0 0 1em 0;
padding: 0 0 0.5em;
color: #2a6496;
}
/* список */
.pricing_item ul {
font-size: 0.95em;
margin: 0;
padding: 1.5em 0.5em 2.5em;
text-align: left;
}
/* пункты списка */
.pricing_item li {
padding: 0.15em 0;
}
/* кнопка заказа тарифа */
.pricing_item button {
font-weight: bold;
margin-top: auto;
padding: 1em 2em;
color: #fff;
border-radius: 5px;
background: #428bca;
-webkit-transition: background-color 0.3s;
transition: background-color 0.3s;
}
/* смена цвета при нажатии кнопки */
.pricing_item button:hover,
.pricing_item button:focus {
background-color: #f8eded;
}
/* фон тарифов*/
.bg-2 {
background: #ba135d;
}

.jumbotron {
background: #f5f5f5 url(../img/1234.gif) top center no-repeat;
max-width: 100%;
padding-top: 400px;
padding-bottom: 100px;
text-align: center;
}

.write {
	color: #f3f0d7;
	fide-size: 50px;
}

.body {
	background-color: #440A67;
}

.btn2 {
  letter-spacing: 0.1em;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 45px;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  
}
.btn2:hover {
  text-decoration: none;
}

/*btn_background*/
.effect01 {
  color: #FFF;
  border: 4px solid #52057B;
  box-shadow:0px 0px 0px 1px #52057B inset;
  background-color: #52057B;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease-in-out;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.effect01:hover {
  border: 4px solid #52057B;
  background-color: #fff;
  box-shadow:0px 0px 0px 4px #EEE inset;
}

/*btn_text*/
.effect01 span {
  transition: all 0.2s ease-out;
  z-index: 2;
}
.effect01:hover span{
  letter-spacing: 0.13em;
  color: #333;
}

/*highlight*/
.effect01:after {
  background: #BC6FF1;
  border: 0px solid #000;
  content: "";
  height: 155px;
  left: -75px;
  opacity: .8;
  position: absolute;
  top: -50px;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
  width: 50px;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);/*easeOutCirc*/
  z-index: 1;
}
.effect01:hover:after {
	
	
  background: #BC6FF1;
  border: 20px solid #000;
  opacity: 0;
  left: 120%;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");

.frame {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 400px;
	margin-top: -200px;
	margin-left: -200px;
	border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
	overflow: hidden;
	background: #FFA114;
	color: white;
	font-family: Raleway, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	display: flex;
	justify-content: center;
	align-items: center;
}

.brk-btn {
  position: relative;
  background: none;
  color: #892CDC;
  text-transform: uppercase;
  text-decoration: none;
  border: 0.2em solid #892CDC;
  padding: 0.5em 1em;
  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 10%;
    background: #222;
    height: 0.3em;
    right: 20%;
    top: -0.21em;
    transform: skewX(-45deg);
    -webkit-transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
  }
  
}

.my_title {
	text-align: center;
	border-style: dashed;
	border-color
}

html {
	scroll-behavior: smooth;
}

.about_me {
	padding-top: 155px;
	margin-top: -155px;
	-webkit-background-clip: content-box;
	background-clip: content-box;
}


a.anchor {
    display: block;
    position: relative;
    top: -250px;
    visibility: hidden;
}


/* footer */

.site-footer
{
  background-color:#511281;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#99A8B2;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#99A8B2;
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}


.text_about_me {
	width: 70%;
	padding-left: 40px;
	padding-bottom: 40px;
	
}

.img_about_me {
	width: 30%;
	float: right;
}



@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{   }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}	